.home-page {
    margin-top : 0px;
    text-align: center;
    background-color: rgb(225, 235, 235);
    height: 150%;
    width: 101.5%;
}

.celestial-sphere {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    padding-left:  0;
}

.celestial-sphere img {
    margin-top: 0px;
    width: 100%;
   height: 100%;
    object-fit: cover;
}

.home-page h1 {
    font-size: 4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
}

.home-page p {
    font-size: 1.5em;
    color: black;
    text-align: center;
}