.star-pattern-page {
    text-align: center;
    background-color: white;
    border-bottom: 0.5px solid white;
}
.star-pattern-page button {

    row-gap: 50px;
}

.star-pattern-page-image {
    background-image: url("../assets/summerTriangleAsterism.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
  }


.star-pattern-page h1 {
    margin-top: 220px;
    font-size: 4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
}

.star-pattern-page p {
    font-size: 1.5em;
    color: white;
    text-align: center;
}